body {
      font-family: 'Bai Jamjuree', sans-serif;
      color: #444444;
}

.indexframe {
      max-width: 1350px;
}

.titleheader {
      font-family: 'Bai Jamjuree', sans-serif;
      font-weight: bold;
      color: #528d61;
}

.editbox {
      max-width: 550px;
}

.detail-box {
      text-align: center;
      padding: 10px 10px 0px 10px;
      transition: all ease-in-out 0.3s;
      background: rgb(255, 255, 255);
      box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
      border-radius: 20px;
}

.img-box {
      border-radius: 20px;
      padding: 5px;
}

.text-result {
      font-size: 18px;
      font-weight: bold;
      color: #528d61;
}

.text-about {
      font-weight: bold;
      color: #528d61;
}

.contact {
      width: 1.5rem;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
      margin-right: 1rem;
}


.bi.bi-search {
      color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
color: #fff;
background-color: #198754;
}




